@import "src/styles/templates";

a.logo {
  position: relative;
  overflow: hidden;

  &.sidebar {
    @apply flex items-center justify-start;

    padding: var(--p-level-3);
    gap: var(--p-level-5);
    font-size: var(--p24);

    // Border
    border-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: normal;

    @include endAtFixed($tabletBreakpoint) {
      & > strong {
        display: none;
      }
    }
  }

  .preid {
    @apply text-right text-primary-font/65;

    position: absolute;
    top: calc(var(--p-level-3) - .4em);
    right: calc(var(--p-level-3) - 1.75em);
    font-size: .5em;
    rotate: 20deg;

    @include endAtFixed($tabletBreakpoint) {
      top: calc(var(--p-level-3) - 1em);
      right: calc(var(--p-level-3) - 1.5em);
    }
  }
}
