@import "src/styles/templates";

form.auth {
  @apply bg-secondary-bg border-secondary-border rounded-[8px]
         flex-center flex-col overflow-y-auto
         max-h-full;

  border-width: 1px;
  border-style: solid;
  padding: var(--p-level-1);
  gap: var(--p-level-2);

  .heading {
    @apply text-center;
  }

  .body {
    @apply flex flex-col;

    gap: var(--p-level-3);
  }
}
