@import "src/styles/templates";

article.tabs {
  & > div {
    padding-top: var(--p-level-4) !important;
    padding-bottom: var(--p-level-4) !important;

    & > section {
      display: flex !important;
      gap: var(--p-level-4) !important;
    }
  }
}
