@import "src/styles/templates";

.menuItem {
  @apply flex items-center;

  $anim: .1s ease-out;

  transition: $anim background-color,
              $anim opacity,
              $anim color;

  &:not(.tabLike) {
    line-height: normal;
    gap: var(--p-level-5);

    @include paddingHorizontal(var(--p-level-4));
    @include paddingVertical(calc(var(--p-level-4) * .75));

    @include desktopHover {
      @apply bg-secondary-bg-accent;
    }

    &[aria-disabled~="true"] {
      pointer-events: none;
      opacity: .5;
    }

    &.active {
      @apply bg-accent text-accent-text;
    }

    @include endAtFixed($tabletBreakpoint) {
      @apply flex-center;
      @include paddingVertical(var(--p-level-4));

      .linkText {
        display: none;
      }
    }

    @include mediaWidthRange($mobileBreakpoint, $tabletBreakpoint) {
      aspect-ratio: 1;
    }

    @include endAtFixed($mobileBreakpoint) {
      // height: 3.5em !important;
    }
  }

  &.tabLike {
    gap: .2em;

    &:not(.active) {
      @apply text-secondary-border-accent;
    }

    &.active,
    &:hover {
      @apply text-current;
    }
  }
}
