@import "src/styles/templates";

table.tasks {
  $firstColumn: 300px;
  $secondColumn: 300px;
  $thirdColumn: 350px;
  $borderColor: secondary-border-brutal;

  min-width: calc($firstColumn + $secondColumn + $thirdColumn);

  & > thead {
    @apply border-y-[1px] border-y-#{$borderColor};
  }

  & > thead > tr,
  & > tbody > tr {
    @apply border-b-[1px] border-b-#{$borderColor};

    // Cells
    & > :is(td, th) {
      // Nullstyles
      font-size: inherit;
      font-weight: inherit;
      text-align: unset;

      // Sizes
      &:nth-child(1) {
        min-width: $firstColumn;
      }
      &:nth-child(2) {
        width: $secondColumn;
      }
      &:nth-child(3) {
        width: $thirdColumn;
      }

      // Grip-like column
      &[data-column-type="grip"],
      &[data-column-type="add"] {
        @include paddingVertical(var(--p-level-5)); // 8px
        @include paddingHorizontal(var(--p-level-4)); // 16px
      }

      // Add task row
      &[data-column-type="add"] {
        @apply p16 italic text-secondary-border-accent
               select-none cursor-pointer;
      }

      // Group title column
      &[data-column-type="group"] {
        @include paddingVertical(calc(var(--p-level-4) * .75)); // 16px
      }

      &:first-of-type {
        padding-left: var(--p-level-4);
      }

      &:last-of-type {
        padding-right: var(--p-level-4);
      }

      // Right border
      &:not(:last-of-type) {
        @apply border-r-[1px] border-r-#{$borderColor};
      }
    }
  }

  // Fixes

  // Border fix
  & > tbody:last-of-type > tr:last-of-type {
    border-bottom: none !important;
  }
  border-bottom: none;

  // Layout fix
  @include marginHorizontal(var(--p-level-2));
  margin-top: var(--p-level-4);
  max-width: calc(100% - 2 * var(--p-level-2));
}
