@import "src/styles/templates";

table.tasks {
  $firstColumn: 300px;
  $secondColumn: 300px;
  $thirdColumn: 350px;
  $borderColor: secondary-border-brutal;

  min-width: calc($firstColumn + $secondColumn + $thirdColumn);
  margin-bottom: var(--p-level-2);

  & > thead {
    @apply border-y-[1px] border-y-#{$borderColor};
  }

  & > thead > tr,
  & > tbody > tr {
    @apply border-b-[1px] border-b-#{$borderColor};

    // Cells
    & > :is(td, th) {
      // Nullstyles
      font-size: inherit;
      font-weight: inherit;
      text-align: unset;

      // Sizes
      &:nth-child(1) {
        min-width: $firstColumn;
      }
      &:nth-child(2) {
        width: $secondColumn;
      }
      &:nth-child(3) {
        width: $thirdColumn;
      }

      // Grip-like column
      &[data-column-type="grip"],
      &[data-column-type="add"] {
        @include paddingVertical(var(--p-level-5)); // 8px
        @include paddingHorizontal(var(--p-level-4)); // 16px
      }

      // Add task row
      &[data-column-type="add"] {
        @apply p16 italic text-secondary-border-accent
               select-none cursor-pointer;
      }

      // Match grip padding
      &[data-column-type="group"],
      &[data-column-type="add"] {
        @include paddingHorizontal(calc(var(--p-level-4) + .3em) !important);
      }

      // Group title column
      &[data-column-type="group"] {
        @include paddingVertical(calc(var(--p-level-4) * .75)); // 16px
      }

      &:first-of-type {
        padding-left: var(--p-level-4);
      }

      &:last-of-type {
        padding-right: var(--p-level-4);
      }

      // Right border
      &:not(:last-of-type) {
        @apply border-r-[1px] border-r-#{$borderColor};
      }
    }
  }

  // Draggable row
  & > tbody > tr[data-row-type="grip-row"] {
    @apply border-x-[1px] border-x-transparent;

    transition:
      sameTransition(
        .15s ease,
        background, color
      )
    ;

    &:hover, &[data-is-dragging="true"] {
      $bgColor: secondary-bg-accent;

      @apply bg-#{$bgColor};

      & > :is(td, th) {
        // @apply border-#{$bgColor};
      }
    }

    // Handle cells inside dragging row
    &[data-is-dragging="true"] > :is(td, th) {
      &:nth-child(1) {
        min-width: $firstColumn;
      }
      &:nth-child(2) {
        width: $secondColumn;
      }
      &:nth-child(3) {
        width: $thirdColumn;
      }
    }
  }

  // Fixes
  // Border fix
  & > tbody:last-of-type > tr:last-of-type {
    border-bottom: none !important;
  }
  border-bottom: none;

  // Layout fix
  @include marginHorizontal(var(--p-level-2));
  @include marginVertical(var(--p-level-4));

  max-width: calc(100% - 2 * var(--p-level-2));
}
