@import "src/styles/templates";

button.uiButton {
  @apply rounded-[8px];

  font-size: var(--p16);

  @include paddingVertical(var(--p-level-4));
  @include paddingHorizontal(var(--p-level-3));

  &:disabled {
    @extend %notSelectable;

    opacity: .5;
    pointer-events: none;
  }

  &.thin {
    @include paddingVertical(var(--p-level-5));
    @include paddingHorizontal(calc(var(--p-level-5) * 2.5));
  }

  &.themePrimary {
    @include buttonStyled(accent);
  }

  &.themeDanger {
    @include buttonStyled(primary-error-soft-font);
    @apply bg-field-bg text-primary-error-soft-font;

    border: none;

    $anim: .08s ease;
    transition:
            $anim background,
            $anim color;

    &:hover {
      @apply bg-primary-error-soft-hover-bg text-primary-font;
    }
  }
}
