@import "src/styles/templates";

.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  width: 100vw;
  height: 100dvh;

  & > main {
    @apply w-full h-full overflow-y-auto;
  }

  @include endAtFixed($mobileBreakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;

    & > main {
      grid-row: 1 / span 1;
    }
  }
}
