@import "src/styles/templates";

.wrapper {
  @apply fixed top-0 left-0;

  display: grid;
  grid-template-columns: max-content 1fr;
  width: 100vw;
  height: 100dvh;

  & > main {
    width: 100%;
    overflow-y: auto;
  }

  @include endAtFixed($mobileBreakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;

    & > main {
      grid-row: 1 / span 1;
    }
  }
}
