@import "src/styles/templates";

article.profile {
  @apply flex select-none;

  gap: var(--p-level-5);

  section.name {
    @apply flex flex-col items-end justify-center;

    & > strong {
      @apply p20 font-medium;

      & + p {
        @apply p16 text-secondary-border-accent
               max-w-[25ch];
      }
    }

    @include endAtFixed($tabletBreakpoint) {
      display: none;
    }
  }

  section.avatar {
    @apply h-[2.8em] aspect-square rounded-[6px]
           bg-secondary-border-accent overflow-hidden
           flex-shrink-0;

    & > img {
      @apply size-full;

      object-fit: cover;
      object-position: center;
    }
  }
}
