@import "src/styles/templates";

article.profile {
  @apply flex select-none;

  gap: var(--p-level-5);

  section.name {
    @apply flex flex-col items-end justify-center;

    & > strong {
      @apply font-medium;

      font-size: calc(var(--p20) * .9);

      &, & + p {
        line-height: normal;
      }

      & + p {
        @apply p16 text-secondary-border-accent
               max-w-[25ch];
      }
    }

    @include endAtFixed($tabletBreakpoint) {
      display: none;
    }
  }
}

section.avatar {
  @apply h-[2.25em] aspect-square rounded-[.375em]
  bg-secondary-bg-accent overflow-hidden
  flex-shrink-0;

  & > img {
    @apply size-full;

    object-fit: cover;
    object-position: center;
  }
}
