@import "src/styles/templates";

.holder {
  @apply bg-field-bg text-[.9em] rounded-[8px]
         flex items-center;

  gap: var(--p-level-5);
  min-height: 2.7em;
  font-size: 1rem;

  @include paddingHorizontal(var(--p-level-3));

  .placeholderText {
    @apply text-field-placeholder;
  }

  // Handle disabled state
  &:has(> label.inline .focusTracker + input:disabled) {
    opacity: .5;
  }

  label.inline {
    @apply flex flex-grow flex-col;

    gap: 3px;

    & > input, .hint {
      line-height: 100%;
    }

    & > *:nth-child(1) {
      translate: 0 -.1em;
    }

    .hint {
      @apply text-field-placeholder select-none bg-transparent;

      $anim: .15s ease-out;

      // Not focused
      translate: 0 calc(100% - .25em);
      font-size: .9em;
      transition: $anim translate,
                  $anim font-size;

      &:has(+ .focusTracker[data-focused~="true"]),
      &:has(+ .focusTracker + input:focus) {
        font-size: .6em;
        translate: 0;
      }
    }

    & > input {
      @apply flex-grow bg-transparent;

      border: none;
      outline: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    }
  }
}
