@import "src/styles/templates";

article.roundsContainer {
  @apply flex gap-[.6em] justify-between;

  .rounds {
    @apply flex gap-[.4em];

    .round {
      @apply size-[25px] rounded-[.25em] border-[1px] border-secondary-border-brutal
             relative overflow-hidden;

      &::before {
        @apply absolute top-0 left-0 h-full bg-accent;

        content: "";
        width: var(--progress);
      }
    }
  }
}

.withChevron {
  @apply text-secondary-border-accent cursor-pointer
  hover:text-primary-font;

  transition: sameTransition(
                  .15s ease,
                  color, opacity
  );

  &:disabled {
    @apply opacity-30 pointer-events-none;
  }
}
