@import "src/styles/templates";

form.addNewBlock {
  @apply flex flex-col;

  gap: var(--p-level-3);
  width: clamp(300px, 25vw, 471px);

  section.inputGroup {
    @apply flex flex-col;

    gap: var(--p-level-4);
  }

  @include endAtFixed(930px) {
    grid-row: 1;
  }
}
